<!-- Events -->
<section class="our_story events" id="events">
    <h2><span>Roma</span> da vedere</h2>

    <!-- Wrapper -->
    <div class="story_wrapper">
      <!-- loop start -->
      {{#each events}}
        {{> story_item}}
      {{/each}}
      <!-- loop end -->
    </div>
</section>
<!-- Events End -->
