<!-- Footer -->
<section class="footer white_txt parallax" id="footer" data-image="{{images_path}}/{{color_theme}}/back6.jpg">
    <div class="over"></div>
    <div class="container">

        <!-- Thanks Text -->
        <div class="thanks">Grazie per aver visitato il nostro sito</div>
        <div class="footer_txt">

            <!-- Social Buttons -->
            <div class="footer_social">
                <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
                <a href="https://www.facebook.com/groups/lasposoancheseceliaca/" target="_blank"><i class="fa fa-facebook"></i></a>
                <!-- <a href="#"><i class="fa fa-pinterest"></i></a> -->
            </div>

            <div class="title1">{{title}}</div>
            <!-- Copyrights -->
            <div class="copyrights">2017 {{title}}</div>

        </div>
    </div>
</section>
