<!-- Gallery -->
<section class="gallery" id="gallery">
    <h2>Le Foto</h2>
    <div class="gallery_wrapper">
      <!-- loop start -->
      {{#each gallery}}
        {{> gallery_item}}
      {{/each}}
      <!-- loop end -->
    </div>
</section>
<!-- Gallery End -->
