<!-- Gallery Matrimonio-->
<section class="gallery" id="gallery-matrimonio">
    <h2>Le Foto del matrimonio</h2>
    <div class="gallery_matrimonio_wrapper">
      <!-- loop start -->
      {{#each matrimonio_gallery.photos}}
        {{> gallery_matrimonio_item}}
      {{/each}}
      <!-- loop end -->
    </div>
</section>
<!-- Gallery Matrimonio End -->
