<!-- Gift Registry -->
<section class="registry" id="registry">
    <div class="container">
        <h2><span>Lista</span> Viaggio</h2>
        
        <p>
        	Quello che vorremmo per il nostro matrimonio è avere i nostri amici e le nostre famiglie alla celebrazione della cerimonia.<br> 
        	Quindi più di tutto vi saremo grati per la vostra presenza!
        </p>
		<p>Se voleste comunque farci un regalo, potreste aiutarci a rendere la nostra luna di miele indimenticabile dandoci supporto qui: </p>
		<p>IBAN IT21Q0301503200000000000000 <br/> Intestato a Fabio Norata </p>
		
    </div>
</section>
<!-- Gift Registry End -->
