<!-- Gift Registry -->
<section class="registry" id="registry">
    <div class="container">
        <h2><span>Gift</span> Registry</h2>

        <p>What we want most for our wedding is to have our friends and family there to celebrate the occasion with us. <br> So more than anything we’re simply grateful for your presence!</p>
        <p>If you would like to get us something, we’d love that too...you can find our registries here:</p>

        <!-- Logos & Links -->
        <div class="registry_wrapper">
            <a href="#"><img src="{{images_path}}/amazon.png" alt="Amazon"></a>
            <a href="#"><img src="{{images_path}}/johnlewis.png" alt="JohnLewis"></a>
            <a href="#"><img src="{{images_path}}/belk.png" alt="Belk"></a>
            <a href="#"><img src="{{images_path}}/bedbathbeyond.png" alt="BedBathBeyond"></a>
        </div>
    </div>
</section>
<!-- Gift Registry End -->
