<div class="guest_item">
    <div class="guest_photo"><img src="{{this.image.src}}" alt="{{this.image.alt}}"></div>
    <div class="guest_title">{{{this.title}}} </div>
    <i class="flaticon-balloon14"></i> {{this.nickname}}
</div>
