<!-- The Crew -->
<section class="guests" id="guests">
    <div class="container">
        <h2>I Testimoni</h2>

        <!-- Guest Wrapper -->
        <div class="guest_wrapper">
          <!-- loop start -->
          {{#each guests}}
            {{> guest_item}}
          {{/each}}
          <!-- loop end -->
        </div>
        <!-- Guest Wrapper End -->
    </div>
</section>
<!-- The Crew End -->
