<!-- Header -->
<header>
    <div class="header_plane anim"></div>

    <!-- Menu Button -->
    <a class="main_menu_btn">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
    </a>


    <!-- Submenu -->
    <div class="main_menu_block">
        <div class="menu_wrapper">
            <div class="sub_menu anim">
                <ul>
                    <li><a href="#our_story">La nostra storia</a></li>
                    <li><a href="#guests">I testimoni</a></li>
                    <li><a href="#when_where">Dove &amp; Quando</a></li>
                    {{!-- <li><a href="#hotel_reservation">Hotel Reservation</a></li> --}}
                    {{!-- <li><a href="#rsvp">RSVP</a></li> --}}
                    <li><a href="#gallery">Le foto</a></li>
                    {{!-- <li><a href="#registry">Lista Viaggio</a></li> --}}
                    <li><a href="#events">Roma da vedere</a></li>
                    <li><a href="#gallery-matrimonio">Foto matrimonio</a></li>
                </ul>
            </div>
            <div class="sub_img anim"></div>
        </div>
    </div>
    <!-- Submenu End -->

    <!-- Social Buttons -->
    <div class="header_social">
        <!--a href="#"><i class="fa fa-twitter"></i></a-->
        <!-- <a href="https://www.facebook.com/hashtag/lasposoancheseceliaca" target="_blank"><i class="fa fa-facebook"></i></a> -->
        <a href="https://www.facebook.com/groups/lasposoancheseceliaca/" target="_blank"><i class="fa fa-facebook"></i></a>
        <!--a href="#"><i class="fa fa-pinterest"></i></a-->
    </div>

</header>
<!-- Header End -->
