<!-- Location -->
<section class="when_where white_txt parallax" id="location" data-image="{{images_path}}/hotels.jpg" data-bottom-top="opacity:0;" data-bottom="opacity:1;">
    <div class="over"></div>
    <div class="container">

        <!-- Photocamera Icon -->
        <div class="photocamera"><span class="flaticon-slr2"></span></div>

        <div class="when_where_container opacity">
            <h2>Hotel Reservation</h2>

            <!-- Texts -->
            <div class="pattern1"></div>
        	<div>
        		Se avete bisogno di un’alloggio potete contattare i seguenti alberghi.<br/>
        		Comunicando loro che siete invitati del matrimonio di Fabio Norata ed Elena Pisano, usufruirete di una particolare agevolazione.
        	</div>
            <div class="pattern2"></div>
            <!-- <div class="title1"></div> -->
            <!-- <div class="title2"><a href="http://www.hotelarearoma.it" target="_blank">Hotel Area Roma</a></div> -->
            <div class="title2"><a href="http://www.hotelsanpaoloroma.com/tablet.php" target="_blank">Hotel San Paolo Roma</a></div>
            <div class="title2"><a href="http://www.ibisstylesromaeur.it/" target="_blank">Ibis Styles Roma EUR</a></div>
            <div class="title2"><a href="http://www.accorhotels.com/it/hotel-9299-novotel-roma-eur/index.shtml" target="_blank">Novotel Roma EUR</a></div>
            
            <div class="pattern3"></div>
        </div>
    </div>
</section>
<!-- Location End -->
