<!-- Location -->
<section class="when_where white_txt parallax" id="location" data-image="{{images_path}}/hotel-area-roma.jpg" data-bottom-top="opacity:0;" data-bottom="opacity:1;">
    <div class="over"></div>
    <div class="container">

        <!-- Photocamera Icon -->
        <div class="photocamera"><span class="flaticon-slr2"></span></div>

        <div class="when_where_container opacity">
            <h2>Hotel Reservation</h2>

            <!-- Texts -->
            <div class="pattern1"></div>
            <!-- <div class="title1"></div> -->
            <div class="title2"><a href="http://www.hotelarearoma.it" target="_blank">Hotel Area Roma</a></div>
            <div class="title3"><a href="http://www.hotelarearoma.it/mappa-interattiva/" target="_blank">
        	Via del Forte Ostiense, 21,<br />Roma</a><br /><i class="flaticon-map35"></i> 
        	</div>
        	<div class="pattern2"></div>
        	<div>Abbiamo riservato un blocco di camere. Per prenotare, chiamare: <b><a href="tel:+39065943183">+39 06 594 3183</a></b><br/>
			Riferisci che sei un ospite del matrimonio di Elena & Fabio.</div>
            <div class="pattern3"></div>
        </div>
    </div>
</section>
<!-- Location End -->
