<!-- Hotel Reservation -->
<section class="hotel" id="hotel">

    <div class="container opacity">
        <h2>Hotel Reservation</h2>

        <p>We have reserved a block of rooms at the: <b>Pointe Hilton Tapatio Cliffs Resort</b><br> For reservations, please call: 800.811.1111<br> Please mention you are a guest of the: Mallory & Matthew Wedding Group code: MM</p>

        <p>To ensure room availability, please RSVP prior to: <b>september 10, 2015</b><br> If you have any questions, feel free to email us at:
            <a href="mailto:MatthewplusMallory@gmail.com">MatthewplusMallory@gmail.com</a></p>

    </div>
</section>
<!-- Hotel Reservation End -->
