<!-- Location -->
<section class="when_where white_txt parallax" id="location" data-image="{{images_path}}/relais_1.jpg" data-bottom-top="opacity:0;" data-bottom="opacity:1;">
    <div class="over"></div>
    <div class="container">

        <!-- Photocamera Icon -->
        <div class="photocamera"><span class="flaticon-slr2"></span></div>

        <div class="when_where_container opacity">
            <h2>Dopo la cerimonia</h2>

            <!-- Texts -->
            <div class="pattern1"></div>
            <div class="title1">Location</div>
            <div class="title2">Relais Appia Antica</div>
            <div class="title3"><a href="https://goo.gl/maps/AyXeXoXp5LJ2" target="_blank">
        	Via Appia Antica, 247 <br />Roma</a><br /><i class="flaticon-map35"></i> 
        	</div>
            <!--div class="pattern2"></div>
            <!--div class="title1">16:00</div>
            <div class="title5">Dopo la cerimonia</div>
            <div class="title4">10 Giugno 2017</div-->
            <div class="pattern3"></div>
        </div>
    </div>
</section>
<!-- Location End -->
