<!-- Married -->
<section class="married clearfix" id="married">
    <div class="container">
        <div class="im1 parallax" data-bottom="left:20%" data-center="left:0" data-image="{{images_path}}/{{color_theme}}/im1.jpg">
            <div class="im_arrows"></div>
        </div>
        <div class="im2 parallax" data-bottom="right:20%" data-center="right:0" data-image="{{images_path}}/{{color_theme}}/im2.jpg">
            <div class="im_arrows"></div>
        </div>

        <div class="married_txt" data-bottom="opacity:0" data-center="opacity:1">
            <h2><span>You're</span>   Invited</h2> On the 19rd of September, 2015<br>
            <b>Matthew Carter Mitchell & Mallory Brooke Laughlin</b><br> eloped in Tucson, AZ.<br>
            <a href="#rsvp" class="btn go">RSRP NOW</a>

            <div class="married_coundown"></div>
            <div class="double_arrow"></div>
        </div>
    </div>
</section>
<!-- Married End -->
