<!-- Married -->
<section class="married clearfix" id="married">
    <div class="container">
        <div class="im1 parallax" data-bottom="left:20%" data-center="left:0" data-image="{{images_path}}/{{color_theme}}/fabio.jpg">
            <div class="im_arrows"></div>
        </div>
        <div class="im2 parallax" data-bottom="right:20%" data-center="right:0" data-image="{{images_path}}/{{color_theme}}/elena.jpg">
            <div class="im_arrows"></div>
        </div>

        <div class="married_txt" data-bottom="opacity:0" data-center="opacity:1">
            <h2>Il 10 Giugno 2017</h2>
            <b>Fabio Norata & Elena Pisano</b><br> si sono sposati a Roma.<br/><br/><br/>
            {{!-- <a href="#rsvp" class="btn go">RSVP</a> --}}
            Da quell'indimenticabile giorno sono passati...
            <div class="married_coundown"></div>
            <div class="double_arrow"></div>
        </div>
    </div>
</section>
<!-- Married End -->
