<!-- RSVP -->
<section class="rsvp" id="rsvp">
    <div class="container">
        <h2>Conferma la tua presenza</h2>

        <div id="envelope" data-100-top="@class:active" data-200-bottom="@class: ">
            <div class="envelope_front">
                <div class="env_top_top"></div>
            </div>
            <div class="envelope_back">
                <div class="env_top"></div>
            </div>

            <div class="paper">

                <!-- End Date of Reservation -->
                <div class="paper_title">RSVP entro 23 Aprile</div>

                <!-- Form -->
                
                <div id="div_block_1">
                	<form id="rsvp">
                		<fieldset>
		                    <div class="txt_input">
		                        <input type="text" class="form-control" id="name_block_1" placeholder="Nome" required>
		                    </div>
		                    <div class="txt_input">
		                        <input type="text" class="form-control" id="surname_block_1" placeholder="Cognome" required>
		                    </div>
		                    <div class="txt_input">
		                        <input type="email" autocomplete="on" class="form-control" id="email_block_1" placeholder="E-mail" required>
		                    </div>
		                    <div class="txt_input">
		                        <input type="text" class="form-control" id="attending_block_1" placeholder="# accompagnatori" pattern="\d+">
		                    </div>
		                    <div class="">
		                        <textarea class="form-control" id="note_block_1" placeholder="Intolleranze o altro"></textarea>
		                    </div>
		                    <input name="" type="submit" value="Invia" class="btn btn-lg submit_block_1">
	                    </fieldset>
					</form>

                    <!-- Form Additional text -->
                    <p>Siamo felici di sentirvi! Per ogni domanda scriveteci a:
                        <a href="mailto:info@lasposoancheseceliaca.com">info@lasposoancheseceliaca.com</a></p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- RSVP End -->
