<!-- Story -->
<section class="our_story" id="our_story">
    <h2>La Nostra Storia</h2>

    <!-- Wrapper -->
    <div class="story_wrapper">
      <!-- loop start -->
      {{#each our_story}}
        {{> story_item}}
      {{/each}}
      <!-- loop end -->
    </div>
</section>
<!-- Story End -->
