<!-- When & Where -->
<section class="when_where white_txt parallax" id="when_where" data-image="{{images_path}}/chiesa_1.jpg" data-bottom-top="opacity:0;" data-bottom="opacity:1;">
    <div class="over"></div>
    <div class="container">

        <!-- Photocamera Icon -->
        <div class="photocamera"><span class="flaticon-slr2"></span></div>

        <div class="when_where_container opacity">
            <h2>Dove &amp; Quando</h2>

            <!-- Texts -->
            <div class="pattern1"></div>
            <div class="title1">Chiesa di</div>
            <div class="title2">San Cesareo in Palatio</div>
            <div class="title3"><a href="https://goo.gl/maps/FtEbDTBzUsR2" target="_blank">
        	Via di Porta San Sebastiano <br />Roma</a><br /><i class="flaticon-map35"></i> </div>

            <div class="pattern2"></div>
            <div class="title1">16:00</div>
            <!--div class="title5">IN THE EVENING</div-->
            <div class="title4">10 Giugno 2017</div>
            <div class="pattern3"></div>
        </div>
    </div>
</section>
<!-- When & Where End -->
